*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  background:#0d0d0d;
  color:white;
  text-align:center;
}

/* Header */
header{
  padding:30px;
  background:black;
  color:#ff9900;
  box-shadow:0 0 25px #ff9900;
}

/* Hero Section */
.hero{
  padding:40px 20px;
  background:linear-gradient(to right,#111,#1a1a1a);
}

.hero h2{
  font-size:28px;
  margin-bottom:10px;
}

/* Sections */
section{
  padding:40px 20px;
}

.member-container{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  margin-top:20px;
}

.member-card{
  background:#1a1a1a;
  padding:20px;
  width:220px;
  border-radius:15px;
  box-shadow:0 0 15px #ff9900;
  transition:0.3s;
}

.member-card:hover{
  transform:scale(1.05);
  box-shadow:0 0 25px #ff9900;
}

/* Rules */
.rules ul{
  list-style:none;
  margin-top:20px;
}

.rules li{
  margin:12px 0;
}

/* Join Button */
.join-btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 30px;
  background:#ff9900;
  color:black;
  text-decoration:none;
  border-radius:30px;
  font-weight:bold;
  box-shadow:0 0 20px #ff9900;
  transition:0.3s;
}

.join-btn:hover{
  background:#ffaa33;
  transform:scale(1.1);
}

/* Footer */
footer{
  padding:20px;
  background:black;
  margin-top:40px;
  font-size:14px;
}
